<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container" background="/pages/images/background.webp" style="background-size: cover;">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Aanbod spellen</h1>

        <ul>
            <% rows.forEach(function(row) { %>
              <li class="jumbotron d-flex">
                <img src="/pages/images/<%= row.img_src %>" width="180">
                <ul style="list-style: none;">
                    <li><strong><h4><%= row.name %></h4></strong></li>
                    <li><h5>Prijs: €<%= row.price %></h5></li>
                    <li>
                        <a href="/game/<%= row.id %>">Bekijken</a>
                    </li>
                </ul>
                
              </li>
            <% }); %>
          </ul>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
