<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Aanbod spellen</h1>

        <ul>
            <% rows.forEach(function(row) { %>
              <li class="jumbotron d-flex">
                <img src="/pages/images/<%= row.img_src %>" width="180">
                <ul>
                    <li><strong><%= row.name %></strong></li>
                    <li>Prijs: €<%= row.price %></li>
                    <li>Speltype: <%= row.type %></li>
                    <li>Aantal spelers: <%= row.player_amount %></li>
                    <li>Leeftijd: <%= row.ages %></li>
                    <li>Spelduur: <%= row.player_duration_minutes %> minuten</li>
                </ul>
                
              </li>
            <% }); %>
          </ul>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
